h1{
    margin-left: 730px;
    color: rgb(7, 139, 0);
    font-size: 100px;
}

button{
    margin-top: 190px;
    margin-left: 150px;
    color: chartreuse;
    background-color: rgb(36, 107, 0);
    border-radius: 25px;
    height: 40px;
}